<div class="container">
    <!-- <section>
      <h3>Alert Boxes</h3>
      <alert type="success">Hello Bootstrap</alert>
    </section>
  
    <section>
      <h3>Typeahead</h3>
      <pre class="card card-block card-header mb-3">Model: {{matched | json}}</pre>
      <input [(ngModel)]="ecode" dkTa
             [typeahead]="engagements"
             typeaheadOptionField="engagementCode"
             [typeaheadMinLength]="10"
             [typeaheadItemTemplate]="itemTpl"
             (typeaheadOnSelect)="onSelect($event)"
             typeaheadDisplayField="clientName"
             class="form-control">
  
            <ng-template #itemTpl let-result>
               <div class="full-width">
                  <strong>Match 1: {{result}}</strong>
               </div>
            </ng-template>
    </section> -->
    <!-- <section>
      <h3>Popovers</h3>
      <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
      Popover on top
      </button>
  
      <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
      Popover on right
      </button>
  
      <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
      Popover on bottom
      </button>
  
      <button type="button" class="btn btn-outline-secondary mr-2" placement="left"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
      Popover on left
      </button>
    </section>
  
    <section>
      <h3>Typeahead</h3>
        A typeahead example that gets values from a static <code>string[]</code>
      <ul>
        <li><code>debounceTime</code> operator</li>
        <li>kicks in only if 2+ characters typed</li>
        <li>limits to 10 results</li>
      </ul>
  
      <ng-template #rt let-r="result" let-t="term">
        <h4>{{r.clientName}}</h4>
      </ng-template>
  
      <label for="typeahead-basic">Engagement lookup:</label>
      <input id="typeahead-basic" type="text" class="form-control" 
      [(ngModel)]="ecode" 
      [ngbTypeahead]="search" 
      [inputFormatter]="formatter"
      [resultTemplate]="rt"
      />
      <hr>
      <pre>Model: {{ ecode | json }}</pre>
    </section>
  
    <section>
      <h3>Radio Nav</h3>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
          <label class="form-check-label" for="inlineRadio1">Enter project information</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Select analyzers</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
          <label class="form-check-label" for="inlineRadio3">Confirm project details</label>
        </div>
    </section> -->
  
  </div>