<!-- <dk-form>
  <dk-input />
  <dk-select [options] name="mySlectbox"  [className]="sp1,sp2" />
  <dk-calendar [options] = "cal.options" />
</dk-form> -->

<h3>Basic buttons</h3>
<div class="button-row">
  <dk-button [text]="'Basic'" [color]="'primary'"></dk-button>
  <dk-button [text]="'Accent'" [color]="'accent'"></dk-button>
  <dk-button [text]="'Warn'" [color]="'warn'"></dk-button>
</div>

<h3>Raised buttons</h3>
<div class="button-row">
  <dk-button [text]="'Basic'" [color]="'primary'" [type]="'raised'"></dk-button>
  <dk-button [text]="'Accent'" [color]="'accent'" [type]="'raised'"></dk-button>
  <dk-button [text]="'Warn'" [color]="'warn'" [type]="'raised'"></dk-button>
</div>

<h3>Stroked buttons</h3>
<div class="button-row">
  <dk-button [text]="'Basic'" [color]="'primary'" [type]="'stroked'"></dk-button>
  <dk-button [text]="'Accent'" [color]="'accent'" [type]="'stroked'"></dk-button>
  <dk-button [text]="'Warn'" [color]="'warn'" [type]="'stroked'"></dk-button>
</div>

<h3>Flat buttons</h3>
<div class="button-row">
  <dk-button [text]="'Basic'" [color]="'primary'" [type]="'flat'"></dk-button>
  <dk-button [text]="'Accent'" [color]="'accent'" [type]="'flat'"></dk-button>
  <dk-button [text]="'Warn'" [color]="'warn'" [type]="'flat'"></dk-button>
</div>