<section class="container">
  <alert type="success"><strong>Well done! </strong>Project successfully created!!</alert>
  <alert type="info"><strong>Notice: </strong>Session will end in 5 mn</alert>
  <alert type="warning"><strong>Reminder! </strong>All fields are required</alert>
  <alert type="danger"><strong>Careful! </strong>Please review the errors and resubmit</alert>
</section>

<section class="container">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
        <label class="form-check-label" for="inlineRadio1">Enter project information</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Select analyzers</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
        <label class="form-check-label" for="inlineRadio3">Confirm project details</label>
      </div>
  </section>

<section class="container">
    <div class="form-container">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="form-field-label">
              Engagement Code
              <span class="form-field-popover" 
                    popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                    [outsideClick]="true">
                <fa name="question-circle"></fa>
              </span>
            </label>
            <input [(ngModel)]="ecode"
              [typeahead]="engagements"
              typeaheadOptionField="engagementCode"
              [typeaheadMinLength]="10"
              [typeaheadItemTemplate]="itemTpl"
              (typeaheadOnSelect)="onSelect($event)"
              class="form-control">
  
            <ng-template #itemTpl let-model="item">
               <div class="full-width">
                  <strong>{{model.clientName}}</strong>
               </div>
            </ng-template>

          </div>
          <div class="form-group col-md-3">
            <label for="inputPassword4">Engagement</label>
            <input type="text" class="form-control" id="inputPassword4"  
              disabled [value]="matched.engagementName">
          </div>
          <div class="form-group col-md-3">
              <label for="inputPassword4">Partner</label>
              <input type="text" class="form-control" id="inputPassword4" disabled
              [value]="matched.partnerName">
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAddress">Client code</label>
            <input type="text" class="form-control" id="inputAddress" disabled
            [value]="matched.clientCode">
          </div>
          <div class="form-group col-md-6">
              <label for="inputAddress">Client</label>
              <input type="text" class="form-control" id="inputAddress" disabled
              [value]="matched.clientName">
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAddress">Project name</label>
            <input type="text" class="form-control" id="inputAddress">
          </div>
          <div class="form-group col-md-3">
              <label for="inputAddress">Year end</label>
              <div class="input-group mb-4">
                  <input type="text" class="form-control" bsDatepicker #yearEnd="bsDatepicker"/>
                  <div class="input-group-append" (click)="yearEnd.toggle()">
                    <span class="input-group-text">
                      <fa name="calendar"></fa>
                    </span>    
                  </div>      
              </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="projectType">Project type</label>
              <select id="projectType" class="form-control">
                  <option selected>Choose a project type</option>
                  <option *ngFor="let type of projectTypes" value="type.ptid">{{type.label}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputAddress">Analysis start</label>
                <div class="input-group mb-4">
                    <input type="text" class="form-control" bsDatepicker #analysisStart="bsDatepicker"/>
                    <div class="input-group-append" (click)="analysisStart.toggle()">
                      <span class="input-group-text">
                        <fa name="calendar"></fa>
                      </span>    
                    </div>      
                </div>
              </div>
              <div class="form-group col-md-3">
                  <label for="inputAddress">Analysis end</label>
                  <div class="input-group mb-4">
                      <input type="text" class="form-control" bsDatepicker #analysisEnd="bsDatepicker"/>
                      <div class="input-group-append" (click)="analysisEnd.toggle()">
                        <span class="input-group-text">
                          <fa name="calendar"></fa>
                        </span>    
                      </div>      
                  </div>
                </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="projectType">Project country</label>
                <select id="projectType" class="form-control">
                    <option selected>Choose a project country</option>
                    <option *ngFor="let country of countries" value="country.code">{{country.name}}</option>
                  </select>
              </div>
              <div class="form-group col-md-3">
                  <label for="dataCenter">Data center location</label>
                  <input type="text" id="dataCenter" class="form-control" (click)="lgModal.show()"/>
                </div>
                
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="projectType">Project sector</label>
                  <select id="projectType" class="form-control">
                      <option selected>Choose a project sector</option>
                      <option *ngFor="let sector of projectSectors" value="sector.code">{{sector.label}}</option>
                    </select>
                </div>
                
                  
              </div>

        <!-- <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div> -->
        <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div> -->
        <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->
        <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->

        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
            role="dialog" aria-labelledby="dialog-sizes-name1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Data Center Location</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="container">
                    <p>
                        When changing the data center location, be sure to select a location that does not violate your country’s or any 
                        client specific data privacy restrictions. 
                    </p>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="projectType">Data center location</label>
                      <select id="projectType" class="form-control" #dataCenterPick>
                          <option selected>Choose a data center location</option>
                          <option *ngFor="let country of countries" value="country.code">{{country.name}} | {{country.alpha2}}</option>
                        </select>
                    </div>
                    <div class="container">
                        <button type="button" class="btn btn-primary" (click)="lgModal.hide()">Confirm</button>
                          &nbsp;&nbsp;
                        <button type="button" class="btn btn-secondary" (click)="lgModal.hide()">Cancel</button>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
            <button type="button" class="btn btn-primary" (click)="lgModal.hide()">Confirm</button>
              &nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" (click)="lgModal.hide()">Cancel</button>
        </div>
      </div>
</section>
