/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.full-width {
    width: 100%;
}
.page-container {
    max-width: 1140px;
    margin: 4rem auto;  
}

section {
    margin-top: 4rem;
}

form {
    margin-bottom: 4rem;
}